*
{
    margin: 0;
    padding: 0;
    font-family: 'Segoe UI Light';
 }
 @font-face 
 {
	font-family: 'Segoe UI Light';
	src: url('../font/SegoeUI-Light.eot');
	src: url('../font/SegoeUI-Light.eot?#iefix') format('embedded-opentype'),
	url('../font/SegoeUI-Light.woff') format('woff'),
	url('../font/SegoeUI-Light.ttf') format('truetype');
	font-weight: normal;
	font-style: normal;
}

ul
{
    list-style: none;
}
a, a:hover
{
	color: black;
    text-decoration: none;
}
body
{	
	margin-top: 10px;
	height: 769px;
}
div:after
{
	display: table;
	content: "";
	width: 100%;
}
div::before
{
	display: table;
	content: "";
	width: 100%;
}
h1
{
	font-weight: lighter;
}
h1, .content_box img
	{
		position: absolute;
	}
h1
	{
		display: block;
		margin: 50px 0 0 66px;
		font-size: 41px;

	}
header
	{
		margin: 0 0 0 46px;
	}
.content_box
	{
		width: 1366px;
		height: 768px;	
		margin: 0 auto;
		position: relative;		
	}
.bottom_line
	{
		margin-top: 763px;
	}
.button_back
	{
		margin-top: 58px; 
	}

/*buttom cart*/
		.button_cart
			{
				width: 280px;
				height: 60px;
				background-color: #d9644a;
				position: absolute;
				right: 90px;
				top: 47px;
			}
		.button_cart:hover
			{
				opacity: .8;
				cursor: pointer;
			}
		.button_cart p
			{	
				display: block;
				color: white;
				margin: 15px 0 0 210px;
				font-size: 20px;
			}
		.button_cart img
			{			
				margin: 15px 0 0 15px;			
			}
/*end buttom cart*/


/*scrol box*/
.scrolll
	{	
		position: relative;
		max-width: 199366px;
		height: 460px;			
		margin: 135px 0 0 50px;	
		overflow: hidden; 
	}
#scrol_box
	{
		position: absolute;
		display: flex;
		max-width: 1366px;
		height: 460px;
		left: 0;
		transition: all ease 1s;
	}

.button_1
	{
		background-color: red;
		width: 25px;
		height: 34px;
	}
.firt_doods_elem
	{
		height: 100%;
		width: 1px
	}
.goods_elem_block
	{	
		margin: 0px 5px 0 5px;
		height: 462px;
		width: 360px;
	}
.img_block
	{	
		position: relative;		
		height: 367px;
		width: 360px;
		overflow: hidden;			 
	}

.name_gods_block
	{				
		position: absolute;	
		height: 40px;
		background-color: #e3dad0;
		opacity: .8;			
		width: 100%;
		z-index: 1;
		margin-top: 328px;
	}

.name_gods_block p	
	{	
		height: 40px;
		widows: 40%;
		display: block;			
	}
.name_gods_block :nth-child(1)	
	{	
		margin: 10px 0 0 10px;
		float: left;
		font-size: 16px;
	}
.name_gods_block :nth-child(2)	
	{	
		margin:2px 10px 0 0;
		float: right;
		font-size: 24px;
		color: #d9644a;	
	}
.secror_buy
	{
		width: 360px;
		height: 80px;
		background-color: #4ea686;
		margin-top: 6px;	
	}
.secror_buy :nth-child(1):hover, .secror_buy :nth-child(4):hover
	{
		opacity: .8;
		cursor: pointer;
	}

.secror_buy :nth-child(1)
	{			
		margin: 20px 0 0 20px;			
	}
.secror_buy :nth-child(2)
	{
		color: white;
		font-size: 14px;
		margin: 10px 0 0 160px;
		opacity: 0.7;
	}
.secror_buy :nth-child(3)
	{
		color: white;
		font-size: 26px;
		margin: 0px 0 0 178px;
		width: 30%;
	}
.secror_buy :nth-child(4)
	{				
		margin-left: 300px;
		margin-top: -42px;
	}
#slider-left 
	{
		margin: -300px 0 0 70px; 
		width: 42px;
		height: 42px;
		background-color: #e3dad0;
		border-radius: 21px;		
		opacity: .5;
		cursor: pointer;		
	}



/*end scrol boxt*/

#name_page
	{
		opacity: 0;
	}
 .button_back
 	{
 		cursor: pointer 		
 	}