*
{
    margin: 0;
    padding: 0;
    font-family: 'Segoe UI Light';
 }
 @font-face 
 {
	font-family: 'Segoe UI Light';
	src: url('../font/SegoeUI-Light.eot');
	src: url('../font/SegoeUI-Light.eot?#iefix') format('embedded-opentype'),
	url('../font/SegoeUI-Light.woff') format('woff'),
	url('../font/SegoeUI-Light.ttf') format('truetype');
	font-weight: normal;
	font-style: normal;
}
ul
{
    list-style: none;
}
a, a:hover
{
	color: black;
    text-decoration: none;
}
body
{	
	margin-top: 10px;
	height: 769px;
}
div:after
{
	display: table;
	content: "";
	width: 100%;
}
div::before
{
	display: table;
	content: "";
	width: 100%;
}
h1
{
	font-weight: lighter;
}
/*cart html*/
	.content_box
		{
			width: 1366px;
			height: 768px;	
			margin: 0 auto;
			position: relative;
		}
	h1, .content_box img
		{
			position: absolute;
		}
	h1
		{
			display: block;
			margin: 40px 0 0 100px;
			font-size: 41px;
		}
	.button_back
		{
			margin: 40px 0 0 40px;	
		}
	.button_back:hover
		{
			cursor: pointer;
			opacity: .8;
		}
	/*cart*/
		.cart
			{
				width: 600px;
				/*border: solid red; */
				margin: 100px 0 0 100px;				
			}

		/*title*/	
			.title_cart
				{
					width: 100%;
					/*border: solid blue; */
					height: 40px;
					position: relative;
					background-color: #d9644a;
					display: flex;										
				}
			.title_cart div
				{				
					position: absolute;
					height: 100%;
					width: 33.3333%;
					font-size: 14px;
					color: white;
					font-weight: normal;
					padding-top: 10px; 

				}
			.title_cart :nth-child(1)
				{
					padding-left:60px; 
					font-size: 16px;
					 
				}
			.title_cart :nth-child(2)
				{
					text-align: center;
					margin: 0 0 0 48%;
					font-size: 16px;
				}
			.title_cart :nth-child(3)
				{
					margin: 0 0 0 90%;
					text-align: left;
					font-size: 16px;
				}

		/*end title*/

		/*shopping*/
			.child_shopping div
				{
					position: absolute;
				}
			.child_shopping
				{
					color: white;
					width: 100%;
					height: 40px;
				}
			.child_shopping img
				{
					display: block;
				}
			.shopping-cart :nth-child(odd)
				{
					background-color: #bf613f;
				}		
			.shopping-cart :nth-child(even)
				{
					background-color: #d9644a;
				}			
			.name_item
				{
					margin: 10px 0 0 10%;
				}
			.minus
				{
					margin: 10px 0 0 340px;
				}
			.number_item
				{
					margin: 9px 0 0 63.5%;
				}
			.plus
				{
					margin: 11px 0 0 413px;
				}						
			.dalete_doods_from_basket
				{
					padding: 5px 0 0 10px;								
				}
			.price
				{
					margin: 10px 0 0 90%;  
				}
			#third_Ñrutch, #seÑond_Ñrutch
				{
					background-color: rgba(0, 0, 0, 0);
				}				
			.child_shopping .first_crutch
				{
					background-color: rgba(0, 0, 0, 0);
				}
			.shopping-cart .child_shopping img
				{
					background-color: rgba(0, 0, 0, 0);
				}
			.div_minus :hover, .div_plus :hover, .dalete_doods_from_basket :hover, #clear_all :hover, .button_1 :hover, .button_2 :hover
				{
					opacity: .8;
					cursor: pointer;
				}			
		/*end shopping*/
		/*amount*/
			.amount
				{
					position: relative;
					background-color: #343e40;
					color: white;
					width: 100%;
					height: 40px;				
				}
			.amount  div
				{
					position: absolute;			
					font-size: 14px;
				}
			.amount :nth-child(1)
				{
					position: absolute;
					min-width: 100px;
					max-width: 100px;
					min-heigh: 28px;
					max-heigh: 28px;
					border: solid white 1px;
					margin: 5px 0 0 17px;
					padding: 3px 0px 3px 15px; 							
				}
			
			.amount :nth-child(2)
				{
					margin: 10px 0 0 465px;
				}
			.amount :nth-child(3)
				{	
							
					margin: 10px 0 0 540px;
					
				}
		/*end amount*/
			
		/*do*/

			.do
				{
					background-color: #4ea686;
					color: white;
					width: 100%;
					height: 65px;
					margin-top: 5px; 
					font-size: 12px;
				}
			.sun_do
				{
					height: 28px;
					margin-top: 17px;
					}

			.button_1
				{
					border: solid white 1px;
					height: 28px;
					width: 150px;
					text-align: center;
					display: block;
					margin-left: 17px;
					line-height: 27px;
					float: left;
				}
			.button_2
				{
					border: solid white 1px;
					height: 28px;
					width: 100px;
					text-align: center;
					display: block;
					margin: -33px 20px 0 0;
					line-height: 27px;
					float: right;

				}
			
			/*end do*/
	/*end cart*/
	.bottom_line
		{
			margin-top: 763px;
		}

/*end cart html*/
